<div class="card_job">

    <div class="image">
        <img src="{{photo}}" alt="">
    </div>

    <div class="info">

        <div class="company">
            <p>{{company_name}}</p>
        </div>

        <div class="function">
            <h3>{{function}}</h3>
        </div>

        <div class="location_time">
            <p>{{time}} ago</p>

            <p> *</p>

            <p>{{type}}</p>

            <p> * </p>

            <p>{{location}}</p>
        </div>
    </div>


    <div class="skills">

        <div #skill></div>
    </div>


</div>