<div class="container">

    <div class="top_background"></div>

    <div class="card">

        <div class="top_section">
            <div class="filters">
                <div #filter></div>
            </div>

            <div class="clear">
                <button (click)=clearSkills()><p>Clear</p></button>
            </div>

        </div>

        <div class="mid_section_job">
            <div class="jobs">
                <div #job class="job"></div>
            </div>

            <div class="add">
                <button (click)='showSpam()'><p>+</p></button>
            </div>
        </div>
    </div>


    <div *ngIf="mostrarSpam" class="form">
        <app-spam-add></app-spam-add>
    </div>


   

</div>